<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2025 STMicroelectronics

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        android:sharedUserId="android.uid.nfc"
        package="com.st.android.nfc_extensions">

    <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.NFC_SET_CONTROLLER_ALWAYS_ON" />

    <!-- uses-permission android:name="android.permission.FOREGROUND_SERVICE"/ -->
    <!-- uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/ -->
    <!-- uses-permission android:name="android.permission.POST_NOTIFICATIONS"/ -->

    <application
        android:label="@string/app_name"
        android:directBootAware="true"
        android:persistent="true"
        android:persistentWhenFeatureAvailable="android.hardware.nfc.any"
        android:supportsRtl="true">
        <service
            android:name=".StNfcExtensionService"
            android:exported="true"
            android:enabled="true"
            >
            <!-- android:foregroundServiceType="systemExempted" -->
			<intent-filter>
				<action android:name="com.st.android.nfc_extensions.StNfcExtensionService.BIND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </service>
        <receiver
            android:name=".StNfcExtensionReceiver"
            android:permission="android.permission.BIND_NFC_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.OEM_EXTENSION_INIT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>